<div id="big-div">
  <h1 id="header">Ideas</h1>

  <div id="form">
    <input type="text" id="search" placeholder="search" class="form-control"><br>
    Title: <input type="text" id="title" class="form-control"><br>
    Body: <textarea id="body" class="form-control"></textarea>
    <input class="btn btn-success center-block" type="button" value="Submit" id="save-btn">
  </div>

  <div id="idea-box" class="name">
  </div>
</div>
