<h1>Ideas</h1>
<input type="text" id="search" placeholder="search"><br>

<div>
  Title: <input type="text" id="title"><br>
  Body: <textarea id="body"></textarea>
  <input class="btn btn-success" type="button" value="Submit" id="save-btn">
</div>

<div id="idea-box" class="name">
</div>
